{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Gban{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
  {% block body %}
     <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    {% if user.is_staff %}
    {% block search %}
    <form method="GET" action="">
      <input type="text" name="q" placeholder="search VDA" value="{{ request.GET.q }}" />
      <button type="submit" value="search" class="btn btn-primary" >search</button>
    </form>
    {% endblock %}
    {% endif %}
    <a class="navbar-brand" href="{% url 'home' %}" > Gban</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- {% include 'search.html' %} -->

    <div class="collapse navbar-collapse" id="mainMenu">
        {% if user.is_authenticated %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if user.is_authenticated %} welcome {{ user.first_name }} {{ or }} {{ user.email }} {% endif %}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
            <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
            <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
          </div>
        </li>
      </ul>
        {% else %}
         <form class="form-inline ml-auto">
          <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
          <a href="{% url 'register' %}" class="btn btn-primary ml-2">Sign up</a>
        </form>
      {% endif %}
    </div>
  </div>
</nav>

<div class="container">

    {% block content %}


    {% endblock %}
</div>
  {% endblock body %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <!-- <script src="https://js.paystack.co/v1/inline.js"></script>
  <div id="paystackEmbedContainer"></div>

  <script>
    PaystackPop.setup({
     key: 'pk_test_221221122121',
     email: 'customer@email.com',
     amount: 10000,
     container: 'paystackEmbedContainer',
     callback: function(response){
          alert('successfully subscribed. transaction ref is ' + response.reference);
      },
    });
  </script>
  </body> -->
</html>
